.alert {
    padding: 15px;
    &--success {
        background: $success;
        color: $light;
    }
    &--primary {
        background: $primary;
        color: $light;
    }
    &--secondary {
        background: $secondary;
        color: $light;
    }
    &--warning {
        background: $warning;
    }
    &--danger {
        background: $danger;
        color: $light;
    }
    &--dark {
        background: $dark;
        color: $light;
    }
    &--light-bs4 {
        background: $light-bs4;
        color: $dark;
    }
    &--violet {
        background: $violet;
        color: $light;
    }
}