.cardNews {
    &__image {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }
    &__title {
        text-decoration: none;
        color: $dark;
        &__child {
            font-size: 1.3em;
        }
    }
    &__para {
        color: $dark;
    }
    &__readmore {
        text-decoration: none;
        color: $orange;
        font-style: italic;
    }
}

@include Tablet {
    .cardNews {
        &__title__child {}
        &__para {
            font-size: 13px;
        }
    }
}