.textBox {
    // width: 80%;
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;  
    padding: 10px;
    margin: 10px auto;
    outline: 0;
    border: 1px solid $light-grey;
    transition: 1s;
    &--dark {
        background: $dark;
        color: white;
    }
    &--orange {
        background: $orange;
        color: white;
    }
    &--violet {
        background: $violet;
        color: white;
    }
    &--btn {
        cursor: pointer;
        box-shadow: 3px 3px 10px $light-grey;
        text-decoration: none;
        &:hover {
            box-shadow: 0;
        }
    }
    &--rounded {
        border-radius: 25px;
    }
    &--square {
        border-radius: 5px;
    }
}