$laptopL-width: 1440px;
$laptop-width: 1024px;
$tablet-width: 768px;
$mobileL-width: 425px;
$mobileM-width: 375px;
$mobileS-width: 320px;

$dark: #303030;

$light: white;
$light-violet: #f8f9fc;
$light-grey: #dbdbdb;
$light-grey-light: #f1f1f1;
$light-grey-opacity: rgba(255,255,255,.4);

$grey-custom-1: #b7b9cc;
$grey-custom-2: #eaecf4;

$orange:#f15e2c;
$grey: #8a8a8a;
$dark-grey: #4c4c4c;
$red: red;
$success: #28a745;
$primary: #007bff!important;
$secondary: #6c757d!important;
$danger: #dc3545!important;
$warning: #ffc107!important;
$info: #17a2b8!important;
$light-bs4: #f8f9fa!important;
$violet: #4e73df;
$violet-gradient: linear-gradient(180deg,#4e73df 10%,#224abe 100%);

$bg-dark: $dark;
$bg-light: $light;